body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: url("/src/images/background5.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

[class*="col-"] {
  padding: 10px;
  border: 1px solidred;
  border-width: thick;
  position: relative;
}
.form-base {
  border-width: thick;
  padding: 5px 10px 5px 10px;
  background: rgba(121, 120, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4.4px);
}

.activityBtn {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 100%;
  margin: 10px 0px;
  font-size: 36px;
  font-weight: 600;
}

.loginBtn {
  background-color: rgba(0, 0, 0, 0.598);
  color: white;
  border: none;

  margin: 5px 0px;
  border-radius: 15px;
}
.loginBtn:hover {
  background-color: black;
  color: white;
  border: none;

  margin: 5px 0px;
  border-radius: 15px;
}
.activityBtn:hover {
  background-color: #ffffff;
}

.conn1 {
  position: relative;
  top: 100px;
}

.conn2 {
  background-color: #61dafb;
  position: absolute;
  top: -150%;
}

.spotifyLink {
  color: white;
}
.activityBackground {
  width: 100%;
}
.add-note {
  border-radius: 15px;
  height: 200px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);

  font-size: 100px;
  color: rgba(0, 0, 0, 0.5);
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Auth-form {
  padding: 25px 50px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4.4px);
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.InfoDisplay {
  padding: 25px 50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4.4px);
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  width: 100%;
}

.Sidebar {
  padding: 25px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4.4px);
  font-size: 24px;

  font-weight: bold;
  position: absolute;
  right: 0;
  min-height: 100%;
  width: 20%;
  z-index: 1;
}

input {
  display: none;
}
.ButtonDisplay {
  padding: 25px 50px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4.4px);
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  width: 100%;
}

[class*="rate-"] {
  font-size: 30px;
}

.close {
  background-color: #61dafb;
  cursor: pointer;
  font-size: 20;
  font-weight: 600;

  position: absolute;
  right: 5px;
}

.display {
  font-size: small;
  position: relative;
  background-color: grey;
  background-image: linear-gradient(to bottom, grey, #d8d3cd);
  overflow-y: scroll;
  height: 500px;
  z-index: 1;
}

.coverDisplay {
  background: rgba(121, 116, 116, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  overflow-y: scroll;
  height: 500px;

  z-index: 9;
}

.greeting {
  font-size: 16px;
  margin: 0 0 25px 0;

  display: flex;
  justify-content: center;
}

.Info-form {
  background: rgba(213, 139, 221, 0.3);
  backdrop-filter: blur(1.5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);

  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: bold;

  height: 97%;
  width: 100%;
  display: flex;
  position: absolute;
  right: 0px;

  top: 0px;

  background: url("/src/images/music1.jpg");
}

.navbar {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1.5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.navbar-brand h1 {
  color: white;
}

.nav-link h5 {
  color: white;
}

.navbar {
  color: #61dafb;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
}

.sticky-note {
  height: 200px;

  border-radius: 15%;

  padding: 16px;
  border: none;

  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  resize: none;
}

.title {
  font-size: 65px;
  font-family: "Dancing Script", cursive;
  margin: 0;

  display: flex;
  justify-content: center;
}

.user-preference {
  background-color: #d8d3cd;

  border-radius: 15px;
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  top: 150px;
}

.logout {
  position: relative;
  top: 200px;
}
.test {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  background-color: #61dafb;
}
